:host{
    --purple-text-color: #5928AD;
}

.body{
    display: grid;
    grid-row: auto auto auto;
    border-top: 2px solid var(--purple-text-color);
    border-bottom: 2px solid var(--purple-text-color);
    border-radius: 14px;
    height: fit-content;
    padding-bottom: 2%;
}

div.block-with-name{
    grid-row: 1/2;
}

p.block-name{
    font-size: 32px;
    font-weight: 600;
    padding-left: 2.5%;
}

div.recent-marks-block{
    align-items: center;
    height: 5%;
    background-color: var(--block-background-color);
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    height: auto;
    padding: 1% 1%;
    margin: 0px 1.5vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.12);
}

div.time-table-block{
    width: 49vw;
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--block-background-color);
    padding: 0% 1%;
    margin: 2vh 1.5vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.12);
}

div.time-table-main-block{
    display: flex;
    flex-direction: row;
    padding: 0px 1%
}

div.inner-time-tables-blocks{
    display: flex;
    flex-direction: column;
}