<div class="body">
    <div class="block-with-name">
        <p class="block-name">Недавние оценки</p>
        <div class="recent-marks-block">
            <div *ngFor="let grade of grades$ | async; trackBy: trackByGradeId">
                <student-recent-mark-card [subject_name]="grade.Subject" [task_name]="grade.Grade"
                    [due_date]="grade.Duedate" [mark]="(grade.Grade).toString()">
                </student-recent-mark-card>
            </div>
        </div>

        <div class="time-table-block">
            <p class="block-name">Расписание на {{ dayName }}, {{ today }}</p>
            <div class="time-table-main-block">
                <div class="inner-time-tables-blocks"
                    *ngFor="let lesson of time_table$ | async; trackBy: trackByLessonSubject">
                    <time-table-card [sidebar_color]="lesson.HexademicalColor" [lesson_time]="lesson.LessonTime"
                        [lesson_name]="lesson.SubjectName" [teacher_name]="lesson.TeacherName">
                    </time-table-card>
                </div>
            </div>
        </div>
    </div>
</div>