div.time-table-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3%;
    width: 17vw;
    height: 8vh;
    align-items: center;
    padding: 0.6em 1.2em;
}

div.side-bar{    
    height: 100%;
    width: 2%;
    border-radius: 15px;
}

div.main-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.light-text{
    padding: 0.5% 0px;
    font-size: 1rem;
    font-weight: 400;
}

div.default-text{
    padding: 0.5% 0px;
    font-size: 1rem;
    font-weight: 500;
}