:host{
    --purple-text-color: #5928AD;
}

.body{
    display: grid;
    grid-row: auto auto auto;
    border-top: 2px solid var(--purple-text-color);
    border-bottom: 2px solid var(--purple-text-color);
    border-radius: 14px;
    height: fit-content;
    padding-bottom: 2%;
}

div.block-with-name{
    grid-row: 1/2;
}

p.block-name{
    font-size: 32px;
    font-weight: 600;
    padding-left: 2.5%;
}

div.time-table-block{
    width: 58vw;
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--block-background-color);
    padding: 0% 1%;
    margin: 2vh 1.5vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.12);
}

time-table-main-block{
    display: flex;
    flex-direction: row;
    padding: 0px 1%
}

div.inner-tables-blocks{
    display: flex;
    flex-direction: column;
}

.week-type {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
}

.housing-name {
  color: #666;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 15px;
  text-transform: uppercase;
}


.even-week {
  background-color: #FFB74D; // Оранжевый для знаменателя
  color: #fff;
}

.odd-week {
  background-color: #64B5F6; // Синий для числителя
  color: #fff;
}

.week-parity{
    border-radius: 5px;
    font-weight: 650;
    margin: 2vh 1.5vw;
    font-size: 1.5rem;
    width: 20%;
    align-items: center;
    padding: 1% 1%;
    color: var(--background-light-color);
    text-align: center;

    &.even-week{
        background-color: var(--even-week-background-color);
    }

    &.odd-week{
        background-color: var(--odd-week-background-color);
    }
}