<header>
    <div class="header_block">
        <img src="{{img}}" alt="MptRoom">
        <p style="margin-top: auto; margin-bottom: auto;">MptRoom</p>
    </div>
    <div class="header_block">
        <div class="header_navigation_buttons">
            <a routerLink="/student/timetable">Расписание</a>
        </div>
        <div class="header_navigation_buttons">
            <p>Предметы</p>
        </div>
    </div>
    <div class="header_block">
        <div class="user_group">
            <p>{{group_name}}</p>
        </div>
        <div class="user_name">
            <p>{{user_name}}</p>
        </div>
        <div>
            <img src="{{user_photo}}">
        </div>
    </div>
</header>