<div class="close-task-card">
    <div class="side-bar" [style.backgroundColor]="sidebar_color">
    </div>
    <div class="main-block">
        <div class="light-text task-name">
            {{subject_name}}
        </div>
        <div class="task-info-block">
            <div class="task-name-text">
                {{task_name}}
            </div>
            <div style="grid-row: 3/4;">
                {{due_date | russianDate}}
            </div>
        </div>
    </div>
    <div class="task-card" [ngClass]="status">
        {{status_name}}
    </div>
</div>