<div class="body">
    <div class="block-with-name">
        <p class="block-name">Недавние оценки</p>
        <div class="recent-marks-block">
            <ng-container *ngIf="grades$ | async as grades; else loading">
                <div *ngIf="grades.length === 0" class="no-tasks">
                    Нет последних оценок
                </div>

                <ng-container *ngIf="grades.length > 0">
                    <student-recent-mark-card *ngFor="let grade of grades; trackBy: trackByGradeId"
                        (click)="navigateToTask(grade)" [subject_name]="grade.Subject" [task_name]="grade.Task"
                        [due_date]="grade.Duedate" [mark]="grade.Grade.toString()"
                        [sidebar_color]="grade.SidebarColor"></student-recent-mark-card>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class=" mid-block">

        <div class="time-table-block">
            <p class="block-name">Расписание на {{ dayName }}, {{ today }}</p>
            <div class="time-table-main-block">
                <ng-container *ngIf="lessonSlotRows$ | async as rows; else loading">
                    <div class="schedule-grid">
                        <div *ngIf="hasNoLessons(rows)" class="no-tasks">
                            Нет расписания на текущую дату
                        </div>
                        <ng-container *ngFor="let row of rows">
                            <div class="number-cell">
                                <ng-container *ngIf="row.original || row.supersede">
                                    {{ row.slot }} Пара
                                </ng-container>
                            </div>
                            <!-- Original -->
                            <div class="original-cell">
                                <ng-container *ngIf="row.original">
                                    <time-table-card [lesson_time]="row.original.LessonTime"
                                        [lesson_name]="row.original.SubjectName"
                                        [teacher_name]="row.original.TeacherName"
                                        [isModified]="row.original.isModified!"
                                        [modificationType]="getStatusText(row.original)"
                                        [sidebar_color]="row.original.HexademicalColor">
                                    </time-table-card>
                                </ng-container>
                            </div>

                            <!-- Status -->
                            <div class="status-cell">
                                <ng-container *ngIf="row.original?.isModified || row.supersede">
                                    <div class="status-badge"
                                        [ngClass]="getModificationClass((row.original ?? row.supersede)?.modificationType)">
                                        {{ getStatusText(row.original ?? row.supersede!) }}
                                    </div>
                                </ng-container>
                            </div>

                            <!-- Actual -->
                            <div class="actual-cell">
                                <div class="actual-cell">
                                    <ng-container *ngIf="row.original?.isModified && row.supersede">
                                        <time-table-card [lesson_time]="row.supersede.newLessonSlot || ''"
                                            [lesson_name]="row.supersede.SubjectName || ''"
                                            [teacher_name]="row.supersede.TeacherName || ''" [isModified]="true"
                                            [modificationType]="getStatusText(row.supersede)"
                                            [sidebar_color]="row.supersede.HexademicalColor">
                                        </time-table-card>
                                    </ng-container>

                                    <ng-container *ngIf="!row.original && row.supersede">
                                        <time-table-card
                                            [lesson_time]="row.supersede.LessonTime || row.supersede.newLessonSlot || ''"
                                            [lesson_name]="row.supersede.SubjectName || ''"
                                            [teacher_name]="row.supersede.TeacherName || ''"
                                            [isModified]="row.supersede.isModified"
                                            [modificationType]="getStatusText(row.supersede)"
                                            [sidebar_color]="row.supersede.HexademicalColor">
                                        </time-table-card>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-template #loading>
                    <div class="loading-message">Загрузка данных...</div>
                </ng-template>
            </div>
        </div>

        <div class="close-task-block">
            <p class="block-name">Ближайшие задания</p>
            <div class="time-table-main-block">
                <div *ngIf="tasks$ | async as tasks; else loading">
                    <div *ngIf="tasks.length === 0" class="no-tasks">
                        Нет ближайших заданий
                    </div>
                    <div class="inner-tables-blocks" *ngFor="let task of tasks; trackBy: trackByTaskId">
                        <close-task-card (click)="navigateToTask(task)" [sidebar_color]="task.sidebarColor"
                            [task_name]="task.taskName" [due_date]="task.dueTime" [task_status]="task.taskStatus"
                            [subject_name]="task.subjectName">
                        </close-task-card>
                    </div>
                </div>
                <ng-template #loading>Загрузка...</ng-template>
            </div>
        </div>
    </div>
</div>